#folders
bin/
.vscode/
bin/

#cmake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#testing
a.out 
test
test.cpp

#WORKING
include/field.hpp
include/scalarfield.hpp
include/Vectorfield.hpp


theorie.txt