#folders
bin/
.vscode/
build/
debug/
#later
Documentation/ 


#cmake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#testing, working and todo
vectorFields.hpp
main.cpp
todo
include/Logger.hpp
functionbuilder.hpp
test/
Tensor/
bivector.hpp
bivector.cpp
analyser/
experimental/
equation/